<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Credit Valley Conservation Browser!{% endblock %}</title>
        {% block stylesheets %}


        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/map2uweb/css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/map2uweb/theme/geosilk/geosilk.css') }}"/>

        <link rel="stylesheet" href="/bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/x-editable/css/bootstrap-editable.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/sonataadmin/bootstrap/css/bootstrap.min.css" type="text/css" media="all"  />
        <link rel="stylesheet" href="/bundles/sonataadmin/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="all" />

        <link rel="stylesheet" href="/bundles/sonataadmin/select2/select2.css" type="text/css" media="all" />
        <!-- base application asset -->
        <link rel="stylesheet" href="/bundles/sonataadmin/css/layout.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/sonataadmin/css/colors.css" type="text/css" media="all" />

        <!-- ckeditor -->
        <link rel="stylesheet" href="{{ asset('bundles/sonatamarkitup/markitup/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/html/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
        <style>
            div.select2-container {
                margin-left: 0px !important;
            }

            div.select2-drop ul {
                margin: 0px !important;
            }
            img {
                max-width: 100%;
            }
            img.olTileImage {
                max-width: none;
            }

            .olLayerGoogleCopyright .olLayerGoogleV3,
            .olLayerGoogleCopyright {
                right: 3px;
                bottom: 2px;
                left: auto;  
            }

            .olLayerGooglePoweredBy .olLayerGoogleV3 .gmnoprint,
            .olLayerGooglePoweredBy {
                left: 2px;
                bottom: 2px;   
            }

            .olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint { 
                visibility:hidden !important; 
            } 

            .olLayerGoogleCopyright { 
                right: 3px; 
                bottom: 2px; 
                left: auto;   
            } 
            .olLayerGoogleV3.olLayerGoogleCopyright { 
                bottom: 0px; 
                right: 0px !important; 
            } 
            .olLayerGooglePoweredBy { 
                left: 2px; 
                bottom: 2px;   
            } 

            .olLayerGoogleV3.olLayerGooglePoweredBy {   
                visibility:hidden !important; 
                bottom: 15px !important;   
            } 
            .olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint { 
                visibility:hidden !important; 
            } 

            .olImageLoadError {
                display: none !important;
            }

            #map2uweb_map {
                height: 560px;
            }

            #map2uweb_maptoc {
                margin-left: 5px;
            }
            div.olControlMousePosition_top {
                top:5px;
                right: 10px;
                height:20px;
                padding-right: 3px;
                display: block;
                color: #ff0;
                position: absolute;
                font-family: Arial;


            }
            div.olControlMousePosition_bottom {
                top: 32px;
                right: 10px;
                padding-right: 3px;
                height:20px;
                display: block;
                color: #ff0;
                position: absolute;
                font-family: Arial;

            }

            #webgismap_layerSwitcher, #layersDiv {
                text-align: left;
                font-size: 16px;
                font-weight: 200;
                font-family:  Arial,sans-serif;
            }
            #layersDiv div span {

                padding-left: 4px;
                font-weight: 400;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;

            }

            .close {
                font-size: 20px;
                font-weight: bold;
                line-height: 18px;
                color: #000000;
                text-shadow: 0 1px 0 #ffffff;
                opacity: 0.2;
                filter: alpha(opacity=20);
                text-decoration: none;
                display:inline;
            }
            .close:hover {
                display:inline;
                color: #000000;
                text-decoration: none;
                opacity: 0.4;
                filter: alpha(opacity=40);
                cursor: pointer;
            }


            .nav-tabs > li .close {
                margin: -2px 0 0 10px;
                font-size: 18px;
            }

            .sonata-bc .navbar .nav > li > a {color: #E4701E;text-decoration: none;}
            .sonata-bc .brand {color: #E4701E;text-decoration: none;}
 
            .sonata-bc .navbar .nav > li > a:hover {color: #E4701E;text-decoration: none;}
            .sonata-bc .brand:hover {color: #E4701E;text-decoration: none;}
  
            .mapmenu .navbar { padding: 0px;margin: 0px;height:30px; }
            .navbar-inner-sm{ padding: 0px;margin: 0px;height:30px; background-repeat: repeat-x;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);background-image: linear-gradient(top, #333333, #222222);}
            .navbar-inner-sm .nav {position: relative;left: 0;display: block;float: left;margin: 0 0px 0 0px;}

            .navbar-inner-sm .nav > li > button.map2u-btn-small {padding: 4px;margin: 1px;cursor: pointer} 

            .navbar-inner-sm .nav.pull-right {float: right;}
            .navbar-inner-sm .nav > li {padding-top: 0px;margin-top:0px;display: block;float: left;}

            .navbar-inner-sm .nav > li > form { font-size: 10px;padding: 0px;margin: 0px;height:12px;}
            .navbar-inner-sm .nav > li > form > div > input.input-small-map2u { padding: 2px;margin: 1px;height:22px;}
            .navbar-inner-sm .nav > li > a {float: none;padding: 0px 0px;line-height: 14px;color: #999999;text-decoration: none;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
            .navbar-inner-sm .nav > li > a:hover {background-color: #003753;color: #ffffff;text-decoration: none;}
            .navbar-inner-sm .nav .active > a,.navbar .nav .active > a:hover {color: #ffffff;text-decoration: none;background-color: #003753;}
            .navbar-inner-sm .divider-vertical {height: 16px;width: 1px;margin: 0 2px;overflow: hidden;background-color: #282828;border-left: 1px solid #3f3f3f; border-right: 1px solid #161616;}
            .navbar-inner-sm .nav.pull-right {margin-left: 10px;margin-right: 0;}     

            .navbar .nav > li.login .login-dropdown { position: absolute; white-space: normal; margin-top: 10px; background-color: #f2f1ef; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #b1a699; width: 290px; left: -235px; z-index: 9999; display: none; }
            .navbar-form { margin-right: 10px; }

            #login-form { padding: 10px; margin: 0; }
            #login-form h4 { margin-bottom: 10px;text-align:left }
            #login-form label a { color: #90897d }
            #login-form label { text-align:left }
            #register-form { padding: 10px 10px 0 }
            #register-form { background-color: #ada69a }
            #register-form h4,
            #register-form p { color: #fff ;text-align:left}

            #login-form .message { border: 1px solid #ef8ca8; background: #ffeef0; color: #db003d; padding: 10px; display: none; margin: 10px 10px 0; }
            #login-form .message { margin: 0 0 10px }

            .custom_geometry {
                 display: table;
                 width:100%;
            }
           .custom_geometry > div {
                display: table-cell;
                text-align: left;
            }
            .custom_geometry .custom_geometry_checkbox {
                width:25px;
               
            }
            .custom_geometry .custom_geometry_checkbox > input {
                
                margin-top:-2px;
              
            }
            .custom_geometry .custom_geometry_name {
                 padding:0px 10px 0px 10px;
                  
            }
            .custom_geometry .custom_geometry_button{
                 width:130px;
            }
            .tourism_comments {
            
                min-height: 25px;
                vertical-align:bottom;
            }
            .tourism_comments > div {
                
                vertical-align:bottom;
            }
            .tourism_comments_button {
               
                vertical-align: bottom;
            }
            .tourism_comments_button > button {
                 padding:2px 8px 2px 8px;
                 vertical-align: bottom;
                 font-size: 0.9em;
            }
            .custom_geometry .custom_geometry_button > button{
                 padding:2px 8px 2px 8px;
                 font-size: 0.9em;
            }
            body.sonata-bc {
                padding-top: 50px;
                min-width:980px;
                margin: auto;
            }
        </style>


        <script type="text/javascript">
            var current_locale = "{{app.request.locale }}";
            var mapstation_markers=[];
        </script>

{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        <script type="text/javascript">

            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                        USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
                            };
                            window.SONATA_TRANSLATIONS = {
                                CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                            };

        </script> 
        <script src="/bundles/sonatajquery/jquery-1.8.3.js" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('/bundles/sonatajquery/jquery-1.8.3.js')}}"><\/script>')</script>
        <script src="/bundles/sonatajquery/jquery-ui-1.8.23.js" type="text/javascript"></script>
        <script src="/bundles/sonatajquery/jquery-ui-i18n.js" type="text/javascript"></script>
        <script src="/bundles/sonataadmin/jquery/jquery.form.js" type="text/javascript"></script>

        <script src="/bundles/sonataadmin/jquery/jquery.confirmExit.js" type="text/javascript"></script>    
        <script src="/bundles/sonataadmin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonataadmin/x-editable/js/bootstrap-editable.min.js') }}"></script>

        <script src="/bundles/sonataadmin/select2/select2.min.js" type="text/javascript"></script>

        <script src="/bundles/sonataadmin/base.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.6"></script>
        <script type="text/javascript" src="http://svn.osgeo.org/metacrs/proj4js/trunk/lib/proj4js-compressed.js"></script>
        <script src="http://openlayers.org/api/2.12-rc3/OpenLayers.js"></script>   
        <script src="{{ asset('bundles/map2uweb/js/loader.js') }}"></script>
        <script src="{{ asset('bundles/map2ucore/js/html2canvas.js') }}"></script>
        <script src="{{ asset('bundles/map2ucore/js/AnimatedCluster.js') }}"></script>
{#        <script src="{{ asset('bundles/map2uweb/js/jquery.form.js') }}"></script>#}
{#        <script type="text/javascript" src="{{ asset('bundles/map2uweb/js/global.js') }}"></script>#}
        {{ render(controller("Map2uCoreBundle:Welcome:loginformjs")) }}
        
        <script type="text/javascript" src="{{ asset('bundles/map2uweb/js/plugins.js') }}"></script>
        <!-- ckeditor -->
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonatamarkitup/markitup/markitup/sets/textile/set.js') }}" type="text/javascript"></script>

{% endblock %}
    </head>
    <body class="sonata-bc sonata-ba-no-side-menu">
        {% block body %}
                {% block header %}
                   {{ render(controller("Map2uCoreBundle:Welcome:header",{'locale_menu_img':locale_switcher()})) }}
                   {{ render(controller("Map2uCoreBundle:Welcome:header_logos")) }}
                {% endblock %}
                {% block maincontent %}
                    {% block juturna_map %}
                        {{ render(controller("Map2uWebBundle:Default:map")) }}
                    {% endblock %}
                    {% block homepage_station %}
{#                        {{ render(controller("YorkuJuturnaBundle:Default:station_homepage")) }}#}
                    {% endblock %}
                    {% block homepage_bird %}
{#                        {{ render(controller("YorkuJuturnaBundle:Default:bird_homepage")) }}#}
                    {% endblock %}
                {% endblock %}
         {% block fos_user_content %}
         {% endblock %}
                {% block footer %}
{#                    {{ render(controller("Map2uCoreBundle:Welcome:footer")) }}#}
                {% endblock %}
        {% endblock %}
    </body>
</html>
