
<div id="leaflet_content" class="overlay-sidebar">




    <div id="sidebar-left" data-viewtype="{% if view is defined  %}{{view}}{% endif %}" {% if benefits is defined and benefits is not null %} data-viewlayers="{% for uploadfilelayer in benefits.uploadfilelayers %}{{uploadfilelayer.id}},{% endfor %}"  data-viewgeoserverlayers="{% for geoserverlayer in benefits.geoserverlayers %}{{geoserverlayer.id}},{% endfor %}" data-viewclusterlayers="{% for clusterlayer in benefits.clusterlayers %}{{clusterlayer.id}},{% endfor %}" {% endif %}>

        <div id="flash">
        </div>

        <div id="browse_status"></div>

        <div id="sidebar_loader" style="display: none;">
            <img alt="Loading..." class="loader" src="{{ asset('/bundles/map2uleaflet/images/searching.gif') }}">
        </div>

        <div id="sidebar_content">
            <div style="padding:20px 10px;">
                <h4>Well-being and Your Watershed</h4>
                <p>Choose a well-being benefit from the health or ecosystem services menu to explore your well-being and the watershed .. or share your own story.</p>
            </div>
        </div>
        <div class="sidebar_feature_content">

        </div>

        <div class="welcome">
            <h2><a onclick=" $('.welcome').hide();"><span class="icon close"></span></a>Welcome to Credit Valley Conservation Browser!</h2>
            <p>Welcome to Credit Valley Conservation Browser is a map of the world, created by people like you and free to use under an open license.</p>
            <a class="button learn-more" href="/about">Learn More</a>
            <a class="button sign-up" href="/user/new">Start</a>
        </div>

    </div>
    <div id="sidebar-right">
        <div id="map-ui">
        </div>
    </div>        
    <div id="sidebar" >
        <form accept-charset="UTF-8" action="/search" class="search_form" method="post"><div style="margin:0;padding:0;display:inline;"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="WzUq33tXmIGkkIg0LB/2KBd91Dfveckr8QvNtZoo9Zo=" /></div>
            <input name="commit" type="submit" value="Go"/>
            <div class='query_wrapper'>
                <input autofocus="autofocus" id="query" name="query" placeholder="Search" type="text"/>
                <a class="describe_location" href="#" title="Describe the current location using the search engine">Where am I?</a>
            </div>
        </form>
        
    </div>




    <noscript>
    <div id="noscript">
        <p>You are either using a browser that does not support JavaScript, or you have disabled JavaScript.</p>
        <p>OpenStreetMap uses JavaScript for its slippy map.</p>
    </div>
    </noscript>
    <div id="leafmap" >

    </div> 
</div>

<script>
    function initLeftsidebarPanel() {
        $.ajax({
            url: Routing.generate('homepage_leftsidebar_view', {_locale: "{{app.request.locale}}", id: "{{id}}", view: "{{view}}"}),
            method: 'GET',
            success: function (response) {
                $("div#leaflet_content.overlay-sidebar #sidebar_content").html(response);
            }
        });
    }

</script>