<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Credit Valley Conservation Browser!{% endblock %}</title>
        {% block page_stylesheets %}
            {% include "::stylesheets.html.twig" %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <div id="homepage_titlebar_background">
    </div>
    <div id="homepage_menubar_background">
    </div>
    <body class="sonata-bc">
        {% block body %}
            {% block page_container %}
                {% block page_header %}
                    <div class="row page-header">
                        {% block page_header_content %}
                            {{ sonata_block_render({ 'type': 'map2ucorebundle.block.page_header_content' }) }}
                        {% endblock %} 
                    </div>
                    <div class="row" style="position:relative;top:50px;">
                        {% block fixed_top_menu %}
                            {{ sonata_block_render({ 'type': 'applicationmap2ucorebundle.block.fixed_topmenu' }) }}
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block maincontent %}
                    <div class="container-fluid maincontent">
                        <div class="row-fluid">
                            <div class="col-lg-7 col-sm-7">
                                <div class="row-fluid homepage_flash">

                                </div>
                                <div class="row-fluid">
                                    <div class="col-lg-6 col-sm-6">

                                    </div>
                                    <div class="col-lg-6 col-sm-6">

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5 col-sm-5">
                                <div class="row-fluid  homepage_description">

                                </div>
                                <div class="row-fluid homepage_mapsnapshot">

                                </div>
                                <div class="row-fluid  homepage_logo">

                                </div>

                            </div>
                        </div>

                    </div>
                {% endblock %}
                {% block withsidebar_content %}

                    {% block page_body %}
                        <div  style="float:left;width:250px; min-height:600px;border-right: 1px solid lightblue;">
                            {%- block content_sidebar -%}
                            {%- endblock content_sidebar -%}
                        </div>

                        <div style="margin-left: 254px;min-height:600px;border:0px solid red;">
                            <div id="top clearfix">
                            </div>
                            {%- block content_body -%}
                            {%- endblock content_body -%}
                        </div>

                    {% endblock %}
                {% endblock %}    
                {% block footer %}
                    <div class="container-fluid footer">

                        {{ render(controller("YorkuJuturnaBundle:Homepage:footer")) }}

                    </div>
                {%endblock %}
            {% endblock %}
        {% endblock %}
        {% block page_javascripts %}

            <script type="text/javascript">

                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                };

            </script> 


      
            {% include "::headjavascripts.html.twig" %}

 
            <script src="/bundles/map2uweb/js/jquery.scrollTo-1.4.3.1-min.js"></script>
            <script src="/bundles/map2uweb/js/jquery.parallax.min.js"></script>
            <script src="/bundles/map2uweb/js/startup-kit.js"></script>
            <script src="/bundles/map2uweb/js/jquery.backgroundvideo.min.js"></script>
{#            <script src="/bundles/map2uweb/js/odometer.min.js"></script>#}
            <script src="/bundles/map2uweb/js/script.js"></script>
            {#            <script src="/bundles/map2uweb/js/bootstrap.min.js"></script>#}
            <script src="/bundles/sonataadmin/vendor/jqueryui/ui/minified/jquery-ui.min.js" type="text/javascript"></script>
            <script src="/bundles/sonataadmin/vendor/jqueryui/ui/minified/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
            <script src="/bundles/sonataadmin/jquery/jquery.form.js" type="text/javascript"></script>
            <script src="/bundles/sonataadmin/jquery/jquery.confirmExit.js" type="text/javascript"></script>
            <script src="{{ asset('bundles/map2ucore/js/jquery.validationEngine-en.js') }}"></script>
            <script src="{{ asset('bundles/map2ucore/js/jquery.validationEngine.js') }}"></script>
            <script src="{{ asset('bundles/yorkujuturna/js/menuaction.js') }}"></script>
            {{ render(controller("Map2uCoreBundle:Welcome:loginformjs")) }}

        {% endblock %}
    </body>
</html>
