{% extends 'SonataPageBundle::base_layout.html.twig' %}
{% block sonata_page_head %}
    {% block sonata_page_stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.map2u.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/Control.MiniMap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/L.Control.MousePosition.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.locationfilter.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.draw.css" type="text/css" media="all" />
          <link rel="stylesheet" href="/bundles/map2uleaflet/css/L.Control.Sidebar.css" type="text/css" media="all" />
        <style>

            .sonata_breadcrumb .breadcrumb > li {
                margin-right: 10px;
            }
        </style>    
    {% endblock %}
    {% block sonata_page_javascripts %}
        {{ parent() }}
        <script src="/bundles/sonataadmin/jquery/jquery.confirmExit.js" type="text/javascript"></script>    
        <script src="/bundles/sonataadmin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/bundles/sonataadmin/x-editable/js/bootstrap-editable.min.js"></script>
        <script src="/bundles/sonataadmin/select2/select2.min.js" type="text/javascript"></script>
        <script src="/bundles/sonataadmin/base.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.6"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.js?2"></script>
        <script src="/bundles/map2uleaflet/js/Control.MiniMap.js"></script>
        <script src="/bundles/map2uleaflet/js/L.Control.MousePosition.js"></script>
        <script src="/bundles/map2uleaflet/js/L.Control.Sidebar.js"></script>
        <script src="/bundles/map2ucore/js/zip.js"></script>
        <script src="/bundles/map2uleaflet/js/querystring.js"></script>
        <script src="/bundles/map2uleaflet/js/application.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.map2u.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet-google.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.key.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.legend.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.layers.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.note.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.share.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.zoom.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.draw.js"></script>
        <script src="/bundles/map2uleaflet/js/leaflet.locationfilter.js"></script>
        <script src="/bundles/map2uleaflet/js/bootstrap.tooltip.js"></script>
        <script src="/bundles/map2uleaflet/js/bootstrap.dropdown.js"></script>

        <script src="/bundles/map2uleaflet/js/leaflet.locate.js"></script>
        <script src="/bundles/map2uleaflet/js/osm.js"></script>
        <script src="/bundles/map2uleaflet/js/router.js"></script>
        <script src="/bundles/map2uleaflet/js/i18n.js"></script>
        <script src="/bundles/map2uleaflet/js/index/search.js"></script>
        <script src="/bundles/map2uleaflet/js/index/export.js"></script>
        <script src="/bundles/map2uleaflet/js/index/history.js"></script>
        <script src="/bundles/map2uleaflet/js/index/browse.js"></script>
    {% endblock %}
{% endblock %}

{% block sonata_page_container %}
    <div class="container">
        <div class="content"> 


            <div class="row">
                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                            {% if content|length > 0 %}
                                {{ content|raw }}
                            {% elseif page is defined %}
                                {{ sonata_page_render_container('content', page) }}
                            {% endif %}
                            {% endif %}
                                {% endblock %}
                                </div>

                                {% if page is defined %}
                                    <div class="row">
                                        {{ sonata_page_render_container('content_bottom', page) }}

                                        {% if page.name != 'global'%}
                                            {{ sonata_page_render_container('content_bottom', 'global') }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>

                            <footer class="row">
                                {{ sonata_page_render_container('footer', 'global') }}
                            </footer>
                        </div>
                        {% endblock %}
                            {% block javascripts %}
                                <script>window.jQuery || document.write('<script src="{{ asset('/bundles/map2ucore/js/jquery-1.8.3.min.js')}}"><\/script>');</script>
                                <script src="/bundles/sonatajquery/jquery-ui-1.8.23.js" type="text/javascript"></script>
                                <script src="/bundles/sonatajquery/jquery-ui-i18n.js" type="text/javascript"></script>

                                <script src="{{ asset('bundles/map2ucore/js/jquery.validationEngine-en.js') }}"></script>
                                <script src="{{ asset('bundles/map2ucore/js/jquery.validationEngine.js') }}"></script>

                                {{ render(controller("Map2uCoreBundle:Welcome:loginformjs")) }}

                                <script src="/bundles/sonataadmin/jquery/jquery.form.js" type="text/javascript"></script>

                            {% endblock %}
