<form id="createnew_tourism_comment_id" action="{{path('juturnadefault_add_tourism_comment')}}?id={{id}}" method="post" onsubmit="  onSubmitTourismComment(); return false;" {{ form_enctype(form) }}>

              {#      {{ form_label(form.tourismgeoms,'Custom Geometry Name') }}
                    {{ form_widget(form.tourismgeoms,{value:tourismgeoms}) }}
    
                    {{ form_label(form.name,'Tourism Name') }}
                    {{ form_widget(form.name) }}
    
                    {{ form_label(form.images_file) }}
                    {{ form_widget(form.images_file,{ 'attr': { 'multiple': 'multiple' }, 'full_name':  'yorku_juturnabundle_tourism[images_file][]' } ) }}
 
                       {{ form_label(form.videos_file) }}
                    {{ form_widget(form.videos_file,{ 'attr': { 'multiple': 'multiple' }, 'full_name':  'yorku_juturnabundle_tourism[videos_file][]' }) }}
 
                       {{ form_label(form.audios_file) }}
                    {{ form_widget(form.audios_file,{ 'attr': { 'multiple': 'multiple' }, 'full_name':  'yorku_juturnabundle_tourism[audios_file][]' }) }}
 #}
                {{ form_rest(form) }}

    <p>
        <input type="submit" value="Create">  <button onclick=" Ext.getCmp('win_create_new_birdinfo_panel_id').close();
                return false;">Cancel</button>
    </p>
</form>


<script type='text/javascript'>

    function onSubmitTourismComment() {
        
        var formData = new FormData($('#createnew_tourism_comment_id')[0]);
               $.ajax({
                   url: "{{ path('juturnadefault_add_tourism_comment')}}?id={{id}}",
                   data: formData,
                   async: false,
                   contentType: false,
                   processData: false,
                   cache: false,
                   type: 'POST',
                   success: function(data)
                   {
                       alert("submitted:" + data.success);
                   }
              });  
              return false;
       }
</script>       