
                                <form id="login-form" class="form-vertical validation"  method="post" action="{{path('fos_user_security_check')}}">
                                    <h4>Registered User</h4>
                                    <div class="message"></div>
                                    <label for="login-username">Email or User ID</label>
                                    
                                    <input type="text" id="username" name="_username" class="span3 validate[required]" tabindex="1" value="{{ last_username }}" required="required" />
                                    <label for="login-password">Password <a id="forgot-password-link" class="pull-right" href="{{path('fos_user_resetting_request')}}">Forgot password?</a></label>
                                    
                                    <input type="password" id="password" name="_password" class="span3 validate[required,minSize[6]]" tabindex="2" required="required" />
                                    <div class="row-fluid">
                                        <div class="span7">
                                            <label class="checkbox">
                                              
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    
                                                    Keep me logged in										</label>
                                        </div>
                                        <div class="span5">
                                            <div class="pull-right">
                                                     <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                <img id="login-loading" class="va-text-top hide" src="http://www.kathmandu.co.nz/skin/frontend/enterprise/kathmandu/images/ajax_loader_small.gif" width="16" height="16" alt="Loading&hellip;" title="Loading&hellip;">
                                                <button type="submit" id="_submit" name="_submit" class="btn btn-default" tabindex="3"><span>Login</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="register-form">
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h4>New User</h4>
                                            <p>Don't have an account?</p>
                                        </div>
                                        <div class="span4">
                                            <a class="btn btn-default pull-right" href="{{path('fos_user_registration_register')}}">Register</a>
                                        </div>
                                    </div>
                                </div>
                                <span class="arrow"></span>
