{% extends sonata_block.templates.block_base %}

{% block block %}
    <nav class="navbar navbar-custom" role="navigation">
        <div>
            <div class="collapse navbar-collapse navbar-main-collapse">
                <div id="cms-block-8" class="cms-block cms-block-element environment_services">
                    <ul class="nav navbar-nav">
                        <li {% if app.session.get('current_menu')=='home' %} class="active" {% endif %}><a href="{{path('welcome_home',{locale:_locale})}}" >Home
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='well_being' %} class="active" {% endif %}><a href="{{path('homepage_well_being')}}" >Well-Being
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='ecosystems' %} class="active" {% endif %}><a href="{{path('homepage_ecosystems')}}" >Ecosystem Services
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='map' %} class="active" {% endif %}><a href="{{path('homepage_map')}}" >Map
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='stories' %} class="active" {% endif %}><a href="{{path('homepage_stories')}}" >Your Stories
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='forum' %} class="active" {% endif %}><a href="{{path('ccdn_forum_user_category_index')}}" >Forum
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li {% if app.session.get('current_menu')=='about_us' %} class="active" {% endif %}><a href="{{path('homepage_about_us')}}" >About Us
                            </a>
                        </li>
                        <li {% if app.session.get('current_menu')=='contact_us' %} class="active" {% endif %}><a href="{{path('homepage_contact_us')}}" >Contact Us
                            </a>
                        </li>
                        {% if app.user %}
                            <li ><a href="{{ path('sonata_admin_dashboard') }}">{{app.user.username}}</a></li>
                            <li >
                                {#                                <div class="navbar-text">      {{app.user.username}}#}
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                {#                                </div>#}
                            </li>
                            <li class="locale">
                                {{ locale_switcher() }}
                            </li>
                        {% else %}
                            <li class="login">
                                <a class="login-popdown-trigger" href="{{path('fos_user_security_login')}}">Login</a>
                                <div class="login-dropdown">
                                    {{ render(controller('Map2uCoreBundle:Security:loginform', {'ajax':true})) }}
                                </div> 
                            </li>
                            <li class="locale">{{ locale_switcher() }}</li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}