{% extends sonata_block.templates.block_base %}

{% block block %}
    <nav class="navbar navbar-custom juturna-main_menu" role="navigation">

        <div class="collapse navbar-collapse navbar-main-collapse">
            <div id="cms-block-8" class="cms-block cms-block-element environment_services">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route')=='welcome_home' %} class="active" {% endif %}><a href="{{path('welcome_home',{_locale:'en'})}}" >Home</a>
                    </li>
                    {% if app.request.attributes.get('_route')=='homepage_map' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle  {% if app.session.get('current_menu')=='well_being' %} active {% endif %}" data-toggle="dropdown">Well-Being<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                {% include 'ApplicationMap2uCoreBundle:Block:fixed_top_wellbeingdomains.html.twig' with {'wellbeingdomains':wellbeingdomains} %}
                            </ul>
                        </li>
                        <li id="ecosystems" class="dropdown"><a href="#" class="dropdown-toggle {% if app.session.get('current_menu')=='ecosystems' %} active {% endif %}" data-toggle="dropdown">Ecosystem Services
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                {% include 'ApplicationMap2uCoreBundle:Block:fixed_top_ecosystems.html.twig' with {'ecosystems':ecosystems} %}

                            </ul>
                        </li>
                        <li {% if app.session.get('current_menu')=='stories' %} class="active" {% endif %}><a href="{{path('homepage_map',{'locale':app.request.locale,'view':'stories'})}}" >Your Stories
                            </a>
                        </li>
                    {% endif %} 
                </ul>
                <ul class="nav navbar-nav pull-right">

                    {% include 'ApplicationMap2uCoreBundle:Block:fixed_top_mapbookmarks.html.twig' with {'mapbookmarks':mapbookmarks} %}


                    <li><a href="/CVCHelpsystem.html" target="_blank"><span class="fa fa-question"></span>Help</a></li>
                        {% include 'ApplicationMap2uCoreBundle:Block:fixed_top_user.html.twig' %}

                    {#{% if app.user %}
                    <li id="logged-in" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">  <i class="fa fa-user fa-lg"></i> {{app.user.username}} </a>


                        <ul class="dropdown-menu pull-right" style="padding:10px;margin:0px;min-width: 150px;width: 200px;border:1px solid lightblue;border-radius: 0 0 4px 4px;">
                            {% if app.security and app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                <li style="display: block;"><a href="{{ path('sonata_admin_dashboard',{locale:app.request.getLocale()}) }}" style="padding:5px;border: none;">Admin Dashboard</a>
                                </li>
                            {% endif %}
                            <li style="display: block;"><a href="{{ path('useraccount_profile',{locale:app.request.getLocale()}) }}" style="padding:5px;border: none;">User Profile</a></li>
                            <li class="divider" style="display: block;"></li>
                            <li style="display: block;"><a href="{{ path('fos_user_security_logout',{locale:app.request.getLocale()}) }}" style="padding:5px;border: none;"><i class="fa fa-sign-out fa-lg" style="display: inline-block;"></i>Logout</a></li>
                        </ul>

                    </li>                 
                {% else %}
                    <li class="login">
                        <a class="login-popdown-trigger" href="{{path('fos_user_security_login',{locale:app.request.getLocale()})}}">Login</a>
                        <div class="login-dropdown">
                            {{ render(controller('Map2uCoreBundle:Security:loginform', {'ajax':true,locale:app.request.getLocale()})) }}
                        </div> 
                    </li>
                {% endif %}#}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}