{% extends sonata_block.templates.block_base %}

{% block block %}

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="header-logo" src="/bundles/map2uweb/images/logo-cvc.png" alt="Credit Valley Conservation Browser" title="Credit Valley Conservation Browser" />
{#                    <span class="light">Credit Valley Conservation Browser</span>#}
                </a>
            </div>
            <div class="collapse navbar-collapse  navbar-main-collapse">


                <div id="cms-block-8" class="cms-block cms-block-element">
                    <ul class="nav navbar-nav">
                           
                       
                                <li >
                                    <a href="#" >Lifestyle</a>
                                </li>
                               {# <li >
                                    <a href="#" >Watershed Stressors</a>

                                </li>  #}  
                          
                         

                        <li >
                            <a href="#" >Surface Water Quality</a>

                        </li>         
                        <li >
                            <a href="#" >Forest Conditions</a>

                        </li>         
                        <li >
                            <a href="#" >Groundwater Quality</a>

                        </li>         
                        <li >
                            <a href="{{path('healthConnect_index')}}"  target="_blank">Health Connectivity</a>
                        </li>         
                        <li >
                            <a href="{{path('juturnadefault_about')}}" target="_blank">About</a>
                        </li>         
                        {#<li>
                            <a href="/blog/archive">Blog</a>
                        </li>
                        <li>
                            
                        </li>#}
                    </ul>

                    {# <form class="navbar-form pull-left">
                         <a class="btn btn-try-it" href="http://demo.sonata-project.org" target="_blank">Try our demo</a>
                     </form>#}
                              <ul class="nav navbar-nav pull-right">
{#                    <li ><a href="{{ path('fos_user_registration_register') }}">Sign up</a></li>#}

                    
                    <li class="login">
                        <a class="login-popdown-trigger" href="{{path('fos_user_security_login')}}">Login</a>
                        <div class="login-dropdown">
                                {{ render(controller('Map2uCoreBundle:Security:loginform', {'ajax':true})) }}
                        </div> 
                    </li>
                    <li class="locale">{{ locale_switcher() }}</li>
                </ul>
      
                </div>

    

            </div>
             
        </div>
    </nav>

    {#
    
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {% if app.user %}
            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li><a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a></li>
                    <li>
                        <div class="navbar-text">      {{app.user.username}}
                            - <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </div>
                    </li>
                    <li class="locale">
                       {{ locale_switcher() }}
                    </li>
                </ul>
            </div>
           {% else %}
            <div class="nav-collapse pull-right">
                <ul class="nav">
{.#                    <li ><a href="{{ path('fos_user_registration_register') }}">Sign up</a></li>#.}

{.#                    <li ><a href="{{ path('fos_user_security_login') }}">Login</a></li>#.}
                    <li class="login">
                        <a class="login-popdown-trigger" href="{{path('fos_user_security_login')}}">Login</a>
                        <div class="login-dropdown">
                                {{ render(controller('Map2uCoreBundle:Security:loginform', { "_locale": _locale,'ajax':true})) }}
                        </div> 
                    </li>
                    <li class="locale">{{ locale_switcher() }}</li>
                </ul>
            </div>
            {% endif %}

            <a href="/" class="brand">
                <img src="/bundles/map2uweb/images/logo-cvc.png"  alt="Credit Valley Conservation Browser" />
            </a>

            <div class="nav-collapse">
                <ul class="nav">
        
                    <li >
                        <a href="#" >Lifestyle</a>
                       
                    </li>         
                    <li >
                        <a href="#" >Watershed Stressors</a>
                       
                    </li>         
                    <li >
                        <a href="#" >Surface Water Quality</a>
                       
                    </li>         
                    <li >
                        <a href="#" >Forest Conditions</a>
                       
                    </li>         
                    <li >
                        <a href="#" >Groundwater Quality</a>
                       
                    </li>         
                    <li >
                        <a href="{{path('healthConnect_index')}}"  target="_blank">Health Connectivity</a>
                    </li>         
                    <li >
                        <a href="{{path('juturnadefault_about')}}" target="_blank">About</a>
                    </li>         
                    {.#<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Stations</a></li>
                            <li><a href="#">Birds</a></li>
                               <li><a href="#">Tourism</a></li>
                        </ul>
                    </li>                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('jdefault_systemhelp')}}" target="_blank">System Help</a></li>
                            <li><a href="{{path('jdefault_adminhelp')}}" target="_blank">System Administration Help</a></li>
                        </ul>
                    </li>            #.}       
                </ul>

               {.# <form action="http://cobas.ca/admin/search" method="GET"  class="navbar-search">
                    <div class="input-append">
                        <input type="text" name="q" value="" class="input-large search-query" placeholder="Search"/>
                    </div>
                </form>#.}

            </div>
        </div>
    </div>
</div>#}

{% endblock %}