<!DOCTYPE html>
<html lang="{{- app.request.locale -}}">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%- block title -%}{%- endblock -%}</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="/bundles/yorkujuturna/css/sonata.css" type="text/css" rel="stylesheet" media="screen"/>
        {%- block stylesheets -%}
        <style>
            body.sonata-bc {
                margin: 0 auto;
                padding-top: 0px;
                width:980px;
            }
            .sonata-bc .row , .sonata-bc .page_header {
                margin: 0 auto;
                padding: 0px;
                height: 120px;
                width:980px;
            }
            .sonata-bc .page_header_content {

                border: 1px solid #008000;
                height: 70px;
                margin: 3px 10px 3px 10px;

            }
            .page-header nav.navbar.navbar-custom{
                width:980px;
            }
            .navbar .nav > li.login .login-dropdown { position: absolute; white-space: normal; margin-top: 10px; background-color: #f2f1ef; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #b1a699; width: 270px; left: -215px; z-index: 9999; display: none; }
            {#                #register-form { padding: 10px 10px 0 }
            #register-form { background-color: #ada69a ;}
            #login-form { padding: 0px; margin: 0}
#}
        </style>
        {%- endblock -%}
    </head>
    <body class="sonata-bc">

        {%- spaceless -%}

        <div id="page-wrap">
            <div id="page-main">

                {%- block navbar -%}
                {% block page_header_content %}
                    {{ sonata_block_render({ 'type': 'map2ucorebundle.block.page_header_content' }, { 'mode': 'public'}) }}
                {% endblock %} 
                {{ sonata_block_render({ 'type': 'map2ucorebundle.block.fixed_topmenu' }, { 'mode': 'public'}) }}
                {%- block tool_bar -%}
                {%- endblock tool_bar -%}
                {%- endblock navbar -%}

                <div class="container clearfix">
                    <br>
                    <div class="row">
                        <aside class="col-md-2 page-sidebar-left">
                            {%- block sidebar -%}
                            {%- endblock sidebar -%}
                        </aside>

                        <div class="col-md-10 page-body-right">
                            <div id="top clearfix">
                            </div>
                            {%- block body -%}
                            {%- endblock body -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <footer class="footer site-footer">

            {#<div class="navbar navbar-default clearfix">
                    <p class="navbar-text pull-right content-right">
                            Copyright <a target="_blank" class="navbar-link" href="http://www.codeconsortium.com/">Code Consortium</a> 2011 - {{ 'now'|date("Y") }}.
                    </p>
            </div>

            <nav class="navbar navbar-inverse clearfix" style="bottom:0px;margin-bottom:0px;">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                                    <li>
                                            <a href="http://www.codeconsortium.com">
                                                    Code Consortium
                                            </a>
                                    </li>

                                    <li>
                                            <a rel="friend" target="_blank" href="http://github.com/codeconsortium">Contribute</a>
                                    </li>
                        </ul>
                    </div>
            </nav>
#}
        </footer>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {%- block javascripts -%}
        {%- endblock -%}
        {{ render(controller("Map2uCoreBundle:Welcome:loginformjs")) }}
        <script type='text/javascript'>
            <!--
                $(document).ready(function () {
                // make visible js compat toolbars site wide
                $("[data-js-non-compat]").each(function (i, el) {
                    $(el).addClass('collapse').addClass('hidden');
                });

                $("[data-js-compat]").each(function (i, el) {
                    $(el).removeClass('collapse').removeClass('hidden');
                });

                $('[data-tip]').each(function () {
                    $(this).tooltip({
                        html: true,
                        placement: $(this).data('tip')
                    });
                });

                $('[data-toggle="dropdown"]').dropdown();
            });
            //-->
        </script>

        {%- endspaceless -%}
    </body>
</html>
