{% extends '::homepage.layout.html.twig' %}
{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
        <div class="container-fluid maincontent">
            <div class="row-fluid">
                <div class="col-lg-7 col-sm-7" style="height:620px; border: 1px solid red;margin:0px;padding:0px;">
                    <div style="height:90px;padding: 10px 15px;color: #0078A8; text-justify:  auto;">
                        <h4>Share your story about well-being, health and the ecosystems in the watershed!</h4>

                    </div>
                    {# <div class="row-fluid homepage_flash" style="vertical-align:middle;height:315px; border: 1px solid green;">
                         {{ render(controller("YorkuJuturnaBundle:Homepage:flashs")) }}
                     </div>
                     <div class="row-fluid" style="height:300px; border: 1px solid yellow;margin:15px 0px;padding:0px;">
                         <div class="col-lg-6 col-sm-6" style="margin:0px;padding:0px 2px;">
                             {{ render(controller("YorkuJuturnaBundle:Homepage:images", { 'type': 'Well-Being' })) }}
                         </div>
                         <div class="col-lg-6 col-sm-6" style="margin:0px;padding:0px 2px;">
                             {{ render(controller("YorkuJuturnaBundle:Homepage:images", { 'type': 'Ecosystems' })) }}
                         </div>
                     </div>#}

                </div>
                <div class="col-lg-5 col-sm-5" style="height:620px; border: 1px solid grey;margin:0px;padding:0px;">
                    <div class="row-fluid  homepage_description" style="height:260px;padding: 0 5px; ">
                        {% if image is defined %}
                            <div style="margin:5px auto; overflow: hidden; border-radius: 8px;border: 2px solid lightblue; ">
                                <a href="{{path('homepage_well_being')}}" ><img src="/uploads/images/homepageimages/{{image.getImage()}}" width="100%"></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row-fluid homepage_mapsnapshot" style="margin:5px; overflow: hidden; border-radius: 8px;height:237px; border: 2px solid lightblue;">
                        <a href="{{path('homepage_map')}}" ><img src="/uploads/images/header_logos/map.png" width="100%" ></a>
                    </div>
                    <div class="row-fluid  homepage_logo" style="margin:5px; overflow: hidden; border-radius: 8px;height:100px; border: 1px solid grey;">

                    </div>

                </div>
            </div>

        </div>

    {% endblock %}
{% endblock %}