{% extends '::baseLayout.html.twig' %}
{% block page_stylesheets %}
    {{ parent() }}
    {% include "::mapstylesheets.html.twig" %}
    <style>

    </style>
{% endblock %}

{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
    {% endblock %}

    <div class="container-fluid" style="margin:0;padding:0;">
        <div class="row-fluid benefit_flash">
            {% set count = 0%}
            {% for indicatorbenefitimage in benefit.indicatorbenefitimages %}
                {% set count = count + images|length %}
            {% endfor %}   
            
            {% if count > 1 %}
                {% include 'YorkuJuturnaBundle:Homepage:multi_indicatorbenefitimage.html.twig' with {'benefit':benefit} %}

            {% else %}
                    {% include 'YorkuJuturnaBundle:Homepage:single_indicatorbenefitimage.html.twig' with {'benefit':benefit} %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid" style="margin: 15px auto;max-width: 1200px;">
        <div class="row-fluid">
            {% autoescape %}
                {{benefit.briefReport }}
            {% endautoescape %}
            {% include 'YorkuJuturnaBundle:Homepage:benefit_indicatorreferences.html.twig' with {'benefit':benefit} %}
            {% include 'YorkuJuturnaBundle:Homepage:benefit_additionalreferences.html.twig' with {'benefit':benefit} %}
            {% include 'YorkuJuturnaBundle:Homepage:benefit_otherlinks.html.twig' with {'benefit':benefit} %}
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block page_javascripts %}
        {{ parent() }}
    {% endblock %}
    <script>
        $(function () {
            $('#indicator_benefit_flash').on('slide', function (e) {
                $(this).find('.active').css({"margin-top": ($(".carousel-inner").height() - $(this).find('.active').height()) / 2 + "px"});
            });

            $('#indicator_benefit_flash').carousel({
                interval: 7000
            });
            window.onresize = function () {
                $("#indicator_benefit_flash .item.carousel-item.active img").css({"margin-top": ($("#indicator_benefit_flash .carousel-inner").height() - $("#indicator_benefit_flash .item.carousel-item.active img").height()) / 2 + "px"});
                $("#indicator_benefit_flash .item.carousel-item.active div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash .item.carousel-item.active img").height() - $("#indicator_benefit_flash .carousel-inner").height()) / 2 + "px"});
                if ($("#indicator_benefit_flash .carousel-inner").length === 0) {
                    $("#indicator_benefit_flash  img").css({"margin-top": ($("#indicator_benefit_flash").height() - $("#indicator_benefit_flash img").height()) / 2 + "px"});
                    $("#indicator_benefit_flash  div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash").height() / 2 + 50) + "px"});
                }
            };
            if ($("#indicator_benefit_flash .carousel-inner").length === 0) {
                $("#indicator_benefit_flash  img").css({"margin-top": ($("#indicator_benefit_flash").height() - $("#indicator_benefit_flash img").height()) / 2 + "px"});
                $("#indicator_benefit_flash  div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash").height() / 2 + 50) + "px"});
            }
        });
    </script>
{% endblock %}