{% extends '::baseLayout.html.twig' %}
{% block page_stylesheets %}
    {{ parent() }}
    {% include "::mapstylesheets.html.twig" %}
    <style>

    </style>
{% endblock %}

{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
    {% endblock %}

    <div class="container-fluid" style="margin:0;padding:0;">
        <div class="row-fluid benefit_flash">
            {% set count = 0%}
            {% for indicatorbenefitimage in benefit.indicatorbenefitimages %}
                {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                {% if count ==0 %}
                    {% set images_array = {id:indicatorbenefitimage.getId(),images:images} %}
                {% else %}
                    {% set images_array = images_array|merge({id:indicatorbenefitimage.getId(),images:images}) %}
                {% endif %}
                {% set count = count + images|length %}
            {% endfor %}     
            {% if count > 1 %}
                <div id="indicator_benefit_flash" class="carousel slide"  data-interval="false" data-pause="hover"  style=" border:1px solid background;height:350px;overflow: hidden;">
                    <ol class="carousel-indicators">
                        {% set i=0 %}
                        {% for indicatorbenefitimage in benefit.indicatorbenefitimages %}
                            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                            {% if images|length > 0 %}
                                {% for image in images %}
                                    <li data-target="#indicator_benefit_flash" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                                    </li>
                                    {% set i=i+1 %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set i=0 %}
                        {% for indicatorbenefitimage in benefit.indicatorbenefitimages %}
                            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                            {% if images|length > 0 %}

                                {% for image in images %}
                                    <div  class="item {% if i==0%} active {% endif %}" >
                                        <div class="carousel-caption">
                                            <h2>{{benefit.title|title}}</h2>

                                            {#                                            <h3>{{indicatorbenefitimage.getImageTitle()}}</h3>#}
                                            {# <p>{{indicatorbenefitimage.getImageCaption()}}</p>#}
                                        </div>
                                        {% autoescape 'html' %}
                                            <img style="width:100%;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                        {% endautoescape %}
                                    </div>
                                    {% set i=i+1 %}
                                {% endfor %}

                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#indicator_benefit_flash" data-slide="prev">‹</a>
                    <a class="right carousel-control" href="#indicator_benefit_flash" data-slide="next">›</a>
                </div>
            {% else %}
                {% if count == 1 %}

                    <div id="indicator_benefit_flash" style="border-radius: 5px;">
                        {% for indicatorbenefitimage in benefit.indicatorbenefitimages %}
                            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                            {% if images|length > 0 %}
                                {% for image in images %}
                                    <div class="carousel-caption">
                                        <h2>{{benefit.title|title}}</h2>

                                    </div>
                                    {% autoescape 'html' %}
                                        <img style="width:100%;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                    {% endautoescape %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="container-fluid" style="margin: 15px auto;max-width: 1200px;">
        <div class="row-fluid">
            {% autoescape false%}
                {{benefit.briefReport}}
            {% endautoescape %}
            {% for reference in benefit.indicatorreferences %}
                {% if reference.website %}
                    <p>
                        <a href="{{reference.website}}">{{reference.reference}}
                        </a>
                    </p>
                {% else %}
                    <p>{{reference.reference}}</p>
                {% endif %}
            {% endfor %}

            {% for reference in benefit.additionalreferences %}
                {% if reference.website %}
                    <p>
                        <a href="{{reference.website}}">{{reference.reference}}
                        </a>
                    </p>
                {% else %}
                    <p>{{reference.reference}}</p>
                {% endif %}
            {% endfor %}

            {% for reference in benefit.otherlinks %}
                {% if reference.website %}
                    <p>
                        <a href="{{reference.website}}">{{reference.reference}}
                        </a>
                    </p>
                {% else %}
                    <p>{{reference.reference}}</p>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block page_javascripts %}
        {{ parent() }}
    {% endblock %}
    <script>
        $(function () {
            $('#indicator_benefit_flash').on('slide', function (e) {
                $(this).find('.active').css({"margin-top": ($(".carousel-inner").height() - $(this).find('.active').height()) / 2 + "px"});
            });

            $('#indicator_benefit_flash').carousel({
                interval: 7000
            });
            window.onresize = function () {
                $("#indicator_benefit_flash .item.carousel-item.active img").css({"margin-top": ($("#indicator_benefit_flash .carousel-inner").height() - $("#indicator_benefit_flash .item.carousel-item.active img").height()) / 2 + "px"});
                $("#indicator_benefit_flash .item.carousel-item.active div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash .item.carousel-item.active img").height() - $("#indicator_benefit_flash .carousel-inner").height()) / 2 + "px"});
                if ($("#indicator_benefit_flash .carousel-inner").length === 0) {
                    $("#indicator_benefit_flash  img").css({"margin-top": ($("#indicator_benefit_flash").height() - $("#indicator_benefit_flash img").height()) / 2 + "px"});
                    $("#indicator_benefit_flash  div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash").height() / 2 + 50) + "px"});
                }
            };
            if ($("#indicator_benefit_flash .carousel-inner").length === 0) {
                $("#indicator_benefit_flash  img").css({"margin-top": ($("#indicator_benefit_flash").height() - $("#indicator_benefit_flash img").height()) / 2 + "px"});
                $("#indicator_benefit_flash  div.carousel-caption").css({"margin-top": ($("#indicator_benefit_flash").height() / 2 + 50) + "px"});
            }
        });
    </script>
{% endblock %}