{% extends '::baseLayout.html.twig' %}
{% block page_stylesheets %}
    {{ parent() }}
    {% include "::mapstylesheets.html.twig" %}

{% endblock %}
{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}

        <div class="row-fluid">
            <div style="width: 740px; margin: 15px auto;">
                <span style='width:740px;'>

                    <table cellpadding=0 cellspacing=0>
                        <tr>
                            <td width=740 height=50 style='vertical-align:top'>
                                <div v:shape="_x0000_s1521" style='padding:2.85pt 2.85pt 2.85pt 2.85pt'
                                     class=shape>
                                    <H1>Contact Us</H1>
                                </div>
                                <![if !vml]></td>
                        </tr>
                        <tr>
                            <td width=740 height=80 style='vertical-align:top'>
                                <div v:shape="_x0000_s1521" style='padding:2.85pt 2.85pt 2.85pt 2.85pt'
                                     class=shape>
                                    <H3>The "Health, Well-being and Your Watershed" browser is part of a collaborative project 
                                        between researchers at York University and the Credit Valley Conservation Authority.  
                                        We welcome your questions, comments, user feedback and bug reports.  The principle 
                                        researchers on this project are:</H3>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width=740 height=500 style='vertical-align:top'>
                                <div v:shape="_x0000_s1521" style='padding:2.85pt 2.85pt 2.85pt 2.85pt'
                                     class=shape>
                                    <p><strong>Dr. Martin Bunch, Professor </strong><br>
                                        Faculty of Environmental Studies<br>
                                        York University<br>
                                        Phone: 416.736.2100 ext: 22630</p>
                                    <p><strong>Dr. Karen Morrison, Adjunct Professor</strong><br>
                                        Faculty of Environmental Studies<br>
                                        York University<br>
                                        Phone: 416.736.2100 ext: 22610</p>
                                    <p><strong>Mike Puddister, Director</strong><br>
                                        Restoration & Stewardship<br>
                                        Credit Valley Conservation<br>
                                        Phone: 905.670.1615 ext 437</p>
                                    <p><strong>Tatiana Koveshnikova, Ecological Goods and Services Project Coordinator</strong><br>
                                        Restoration and Stewardship<br>
                                        Credit Valley Conservation<br>
                                        Phone: 905.670.1615 ext 443</p>
                                    <p><strong>Shuilin (Joseph) Zhao, Research Assistant and System Developer</strong><br>
                                        Spatial, Environment and Action Research (SpEAR) Lab<br>
                                        Faculty of Environmental Studies<br>
                                        York University<br>
                                        Phone: 416.736.2100 ext: 20100</p>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td width=740 height=15 style='vertical-align:top'>
                                <div v:shape="_x0000_s1521" style='padding:2.85pt 2.85pt 2.85pt 2.85pt'
                                     class=shape>
                                    <H3>Contact us using this form:</H3>
                                </div>
                            </td>
                        </tr>		
                        <tr>
                            <td>
                                <div class="message"><h3 style="color: green;">{{flash_message}}</h3></div>
                            </td>
                        </tr>
                        <tr>
                            <td width=740 height=388 style='vertical-align:top'>
                                <div v:shape="_x0000_s1521" style='padding:2.85pt 2.85pt 2.85pt 2.85pt'
                                     class=shape>

                                    <form  action="{{path('homepage_contact_us')}}" method="POST" enctype="multipart/form-data">

                                        <table>
                                            <tr>
                                                <td>{{ form_label(form.name) }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ form_widget(form.name,{'value':'', 'required':'true', 'attr':{'size':"32"}}) }}<span style="color:red;">*</span></td>
                                            </tr>
                                            <tr>
                                                <td>{{ form_label(form.email) }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ form_widget(form.email,{'value':'','required':'true', 'attr':{'size':"32"}}) }}<span style="color:red;">*</span></td>
                                            </tr>
                                            <tr>
                                                <td>{{ form_label(form.message) }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ form_widget(form.message,{'value':'','required':true}) }}<span style="color:red;vertical-align: top;">*</span></td>
                                            </tr>
                                        </table>
                                        {{ form_widget(form._token) }}
                                        <div style="margin-top: 10px">
                                            <input type="submit" value="Submit"/>
                                        </div>

                                    </form>

                                </div>
                            </td>
                        </tr>
                    </table>
                </span>
            </div>
        </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}