{% extends '::baseLayout.html.twig' %}

{% block page_stylesheets %}
    {{ parent() }}
      {% include "::mapstylesheets.html.twig" %}
{% endblock %}
{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
        <div class="container-fluid maincontent">
            {% if category is defined %}
                <div class="row-fluid ecosystem_page_image">

                    {% set images = category.flashImages|unserialize %}
                    {% if images|length >0 %}
                        <h1>{{category.title|title}}</h1>
                        <div style="text-justify:  auto;" id="ecosystem_image">
                            <img src="/uploads/images/categories/{{category.id}}/{{images[0]}}"  style="width:100%;">

                        </div>

                    {% endif %}

                </div>
                <div class="row-fluid" >
                    <div class="col-lg-10 col-sm-10 col-xs-10 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1 ">
                    {{category.description |raw}}
                    {#     {% if ecosystems is defined %}
                             {% if ecosystems.indicatorbenefits | length %}
                                 {% for indicatorbenefit in ecosystems.indicatorbenefits %}
                                     <div style="margin:5px 10px;">
                                         <b>{{indicatorbenefit.benefitName|title}}</b>
                                     </div>
                                     <div>
                                         <div class="homepage_description" style="float:left;width:260px;padding:5px;border-radius: 10px;">
                                             <div id="indicator_benefit_{{indicatorbenefit.id}}" class="carousel slide" style="border-radius: 10px;">
                                                 <ol class="carousel-indicators">
                                                     {% set i=0 %}
                                                     {% for image in images %}
                                                         <li data-target="#indicator_benefit_{{indicatorbenefitimage.id}}" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                                                         </li>
                                                         {% set i=i+1 %}
                                                     {% endfor %}
                                                 </ol>
                                                 <div class="carousel-inner" style="border-radius: 10px;">
                                                     {% set i=0 %}
                                                     {% for indicatorbenefitimage in indicatorbenefit.indicatorbenefitimages %}
                                                         {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                                                         {% if images|length > 0 %}
                                                             {% for image in images %}
                                                                 <div style="border-radius: 10px;" class="item {% if i==0%} active {% endif %}" >
                                                                     <img style="border-radius: 10px;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                                                     <div class="carousel-caption">
                                                                         <h5>{{indicatorbenefitimage.getTitle()}}</h5>
                                                                         <p>{{indicatorbenefitimage.getCaption()}}</p>
                                                                     </div>
                                                                 </div>
                                                                 {% set i=i+1 %}
                                                             {% endfor %}
                                                         {% endif %}
                                                     {% endfor %}
                                                 </div>
                                                 <a class="left carousel-control" href="#indicator_benefit_{{indicatorbenefit.id}}" data-slide="prev">‹</a>
                                                 <a class="right carousel-control" href="#indicator_benefit_{{indicatorbenefit.id}}" data-slide="next">›</a>
                                             </div>
         
                                             {% for indicatorbenefitimage in indicatorbenefit.indicatorbenefitimages %}
         
                                                 {% if image is defined %}
                                                     <div style="margin:5px auto; overflow: hidden; border-radius: 8px;border: 2px solid lightblue; ">
                                                         <a href="{{path('homepage_well_being',{locale:_locale})}}" ><img src="/uploads/images/homepageimages/{{image.getImage()}}" width="100%"></a>
                                                     </div>
                                                 {% endif %}
                                             {% endfor %}
                                         </div>
                                         {{indicatorbenefit.abstract}}
                                     </div>
                                     <br/>
                                 {% endfor %}
                             {% endif %}
                         {% endif %}#}

                    {#            </div>#}
                    {# <div class="col-lg-4 col-sm-4">
                         <div style="margin: 15px -20px 15px 0;padding:10px; border: 1px solid gainsboro; border-radius: 8px;">
                             {% block indicator_column_block %}
                                 {{ sonata_block_render({ 'type': 'yorku_juturna.block.indicator_column' }, { 'mode': 'public'}) }}
                             {% endblock %}
                         </div>
                         <div class="row-fluid homepage_mapsnapshot" style="margin: 15px -20px 15px 0;padding:2px; border: 1px solid gainsboro; overflow: hidden;border-radius: 8px;">
                             <a href="{{path('homepage_map',{locale:_locale,view:'well-being'})}}" ><img style="border-radius: 5px;" src="/uploads/images/header_logos/map.png" width="100%" ></a>
                         </div>
                     </div>#}


                    {#        </div>#}

                    </div>
                </div>
            {% endif %}
        </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block page_javascripts %}
        {{ parent() }}

    {% endblock %}
    <script>
        $(function () {
            window.onresize = function () {
                $("#ecosystem_image img").css({"margin-top": ($("#ecosystem_image").height() - $("#ecosystem_image img").height()) / 2 + "px"});
            };
        });
    </script>
{% endblock %}
