{# empty Twig template #}
<div class="homepage_flash_wrap">

    {% if flashs|length > 0 %}


        <div id="homepageFlashCarousel" class="carousel slide"  data-interval="false" data-pause="hover">
            <div class="carousel-inner" >
                {% for flash in flashs %}
                    <div id="homepageFlash-image-{{loop.index-1}}" data-id="{{loop.index-1}}" data-slide-no="{{loop.index-1}}" class="item carousel-item  {% if loop.index==1 %} active {% endif %}" >
                        <div class="carousel-caption" style="margin-left:{{flash.titleMargin}}px;">
                            <h4>{{flash.getTitle()}}</h4>
                            <p>{{flash.getIntroduce()}}</p>
                        </div>
                        <a href="{{flash.getUrl()}}" target="_blank"><img src="/uploads/images/homepageflashs/{{flash.getImage()}}"  style="width: 100%;border-radius: 3px;"></a>
                    </div>
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#homepageFlashCarousel" data-slide="prev"><span class="icon-prev"></span></a>
            <a class="right carousel-control" href="#homepageFlashCarousel" data-slide="next"><span class="icon-next"></span></a>
            <ol class="carousel-indicators">
                {% for flash in flashs %}
                    <li data-target="#homepageFlashCarousel" data-slide-to="{{loop.index-1}}" {% if loop.index==1 %} class="active" {% endif %}>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>