{# empty Twig template #}
<div class="homepage_flash_wrap">

    {% if flashs|length > 0 %}
        {# {% for image in images %}
 
             <a href="#" target="_blank"><img style="border: 1px #0000FF solid" src="{{ asset('uploads/images/')}}{{image}}" width="220px" style="width:220px;"/></a><br>
 
         {% endfor %}#}

        <div id="homepageFlashCarousel" class="carousel slide"  data-interval="false" data-pause="hover">

            <div class="carousel-inner" >
                {% set i=0 %}
                {% for flash in flashs %}
                    <div id="homepageFlash-image-{{i}}" data-id="{{i}}" data-slide-no="{{i}}" class="item carousel-item  {% if i==0%} active {% endif %}" >
                        <div class="carousel-caption" style="margin-left:{{flash.titleMargin}}px;">
                            <h4>{{flash.getTitle()}}</h4>
                            <p>{{flash.getIntroduce()}}</p>
                        </div>
                        <a href="{{flash.getUrl()}}" target="_blank"><img src="/uploads/images/homepageflashs/{{flash.getImage()}}"  style="width: 100%;border-radius: 3px;"></a>

                    </div>

                    {% set i=i+1 %}
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#homepageFlashCarousel" data-slide="prev"><span class="icon-prev"></span></a>
            <a class="right carousel-control" href="#homepageFlashCarousel" data-slide="next"><span class="icon-next"></span></a>
            <ol class="carousel-indicators">
                {% set i=0 %}
                {% for flash in flashs %}
                    <li data-target="#homepageFlashCarousel" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                    </li>
                    {% set i=i+1 %}
                {% endfor %}
            </ol>
        </div>
    {% endif %}
</div>