<div class="row-fluid" style="border-top:1px solid grey;">
    <div class="col-lg-4 col-sm-4" >
        <h4 style="margin-left: 40px;"><b>Explore</b></h4>

    </div>

    <div class="col-lg-4 col-sm-4" >
        <h4 style="margin-left: 40px;"><b>Share</b></h4>

    </div>

    <div class="col-lg-4 col-sm-4" >
        <h4 style="margin-left: 40px;"><b>Tools</b></h4>

    </div>
</div>
<div class="row-fluid" style="border-top:1px solid grey;">
    <div class="col-lg-4 col-sm-4" >

        <ul style="margin-left: 0px; list-style: none;">
            <li><a href="{{path('homepage_well_being')}}" style="color:gray;">Well-Being</a></li>
            <li><a href="{{path('homepage_ecosystems')}}" style="color:gray;">Ecosystem Services</a></li>
            <li><a href="{{path('homepage_map')}}" style="color:gray;">Watershed Map</a></li>
        </ul>
    </div>

    <div class="col-lg-4 col-sm-4" >

        <ul style="margin-left: 0px; list-style: none;">
            <li><a href="{{path('homepage_well_being')}}" style="color:gray;">Your Stories</a></li>
            <li><a href="{{path('homepage_ecosystems')}}" style="color:gray;">Forum</a></li>

        </ul>
    </div>

    <div class="col-lg-4 col-sm-4" >

        <ul style="margin-left: 0px; list-style: none;">
            <li><a href="{{path('homepage_well_being')}}" style="color:gray;">About</a></li>
            <li><a href="{{path('homepage_ecosystems')}}" style="color:gray;">Contact us</a></li>
            <li><a href="{{path('homepage_map')}}" style="color:gray;">User accounts</a></li>
            <li><a href="{{path('homepage_map')}}" style="color:gray;">Administration</a></li>
        </ul>
    </div>
</div>        