
{% if image is defined and image != null %}
    <div style="margin:3px auto; color:green; text-align: center;">
        <a href="{{path('homepage_'~type,{locale:app.request.locale})}}"><h4>{{image.getTitle()}}</h4></a>
    </div>
    <div style="border-radius: 5px;">
        <a href="{{path('homepage_'~type,{locale:app.request.locale})}}" ><img src="/uploads/images/homepageimages/{{image.getImage()}}" height="180px"  alt="{{image.getAltText()}}"></a>
    </div>
    <a href="{{path('homepage_'~type,{locale:app.request.locale})}}" >
        <div class="homepage_image_brief_desc">
            {% autoescape 'html' %}
                {{image.getIntroduce()|raw}}
            {% endautoescape %}
        </div>
    </a>
{% endif %}