{% extends '::baseLayout.html.twig' %}
{% block page_stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}

        <div class="row-fluid homepage_flash">
            {{ render(controller("YorkuJuturnaBundle:Homepage:flashs")) }}
        </div>

        <div class="row-fluid homepage_images">
            <div class="col-lg-3 col-sm-3" style="border-radius: 5px;margin:0px;padding:0px 2px;overflow: hidden;">
                {{ render(controller("YorkuJuturnaBundle:Homepage:images", { 'type': 'Well-Being' })) }}
            </div>
            <div class="col-lg-3 col-sm-3" style="border-radius: 5px;margin:0px;padding:0px 2px;overflow: hidden;">
                {{ render(controller("YorkuJuturnaBundle:Homepage:images", { 'type': 'Ecosystems' })) }}
            </div>
            <div class="col-lg-3 col-sm-3" style="border-radius: 5px;margin:0px;padding:0px 2px;overflow: hidden;">
                {{ render(controller("YorkuJuturnaBundle:Homepage:images", { 'type': 'Story' })) }}
            </div>
            <div class="col-lg-3 col-sm-3 homepage_mapsnapshot" style="border-radius: 5px; padding:0px 2px;overflow: hidden;">
                <div style="margin:3px auto; color:green; text-align: center;">
                    <a href="#"><h4>Map Explore</h4></a>
                </div>
                <a href="{{path('homepage_map')}}" ><img src="/uploads/images/header_logos/map.png" width="100%" ></a>
            </div>
        </div>

        {% block footer %}
            {{ parent() }}
        {% endblock %}

    {% endblock %}
    {% block page_javascripts %}
        {{ parent() }}

    {% endblock %}
    <script>
        $(function () {
            $('#homepageFlashCarousel').on('slide', function (e) {
                $(this).find('.active').css({"margin-top": ($(".carousel-inner").height() - $(this).find('.active').height()) / 2 + "px"});
            });
            window.onresize = function () {
                $("#homepageFlashCarousel .item.carousel-item.active img").css({"margin-top": ($("#homepageFlashCarousel .carousel-inner").height() - $("#homepageFlashCarousel .item.carousel-item.active img").height()) / 2 + "px"});
                $("#homepageFlashCarousel .item.carousel-item.active div.carousel-caption").css({"margin-top": ($("#homepageFlashCarousel .item.carousel-item.active img").height() - $("#homepageFlashCarousel .carousel-inner").height()) / 2 + "px"});

            };
        });
    </script>
{% endblock %}