
<div id="benefit_leafletsidebar_view" style="padding:10px; margin-top:10px;">

    {% if entities is defined and entities != null %}

        {% set count = 0%}
        {% for indicatorbenefitimage in entities.indicatorbenefitimages %}

            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
            {% if count ==0 %}
                {% set images_array = {id:indicatorbenefitimage.getId(),images:images} %}
            {% else %}
                {% set images_array = images_array|merge({id:indicatorbenefitimage.getId(),images:images}) %}
            {% endif %}
            {% set count = count + images|length %}
        {% endfor %}               
        <h4 style="text-align:center;">{{entities.indicator.name|upper}}</h4>
        <h4 style="text-align:center;">
            <a href="{{path('homepage_benefit',{id:entities.id})}}">{{entities.title|title}}</a>
        </h4>

        <div>
            {% if count > 1 %}
                <div id="leftsidebar_indicator_benefit_flash" class="carousel slide"  data-interval="false" data-pause="hover" style=" border:1px solid background;border-radius: 5px;">
                    <ol class="carousel-indicators">
                        {% set i=0 %}
                        {% for indicatorbenefitimage in entities.indicatorbenefitimages %}
                            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                            {% if images|length > 0 %}
                                {% for image in images %}
                                    <li data-target="#leftsidebar_indicator_benefit_flash" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                                    </li>
                                    {% set i=i+1 %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" style="border-radius: 5px;">
                        {% set i=0 %}
                        {% for indicatorbenefitimage in entities.indicatorbenefitimages %}
                            {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                            {% if images|length > 0 %}

                                {% for image in images %}
                                    <div style="border-radius: 5px;" data-id="{{i}}" data-slide-no="{{i}}"  class="item  carousel-item {% if i==0 %} active {% endif %}" >
                                        <img style="border-radius: 5px;width:300px;height:200px;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                        <div class="carousel-caption">
                                            <h5>{{indicatorbenefitimage.getImageTitle()}}</h5>
                                            <p>{{indicatorbenefitimage.getImageCaption()}}</p>
                                        </div>
                                    </div>
                                    {% set i=i+1 %}
                                {% endfor %}

                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control"  data-slide="prev"><span>‹</span></a>
                    <a class="right carousel-control" data-slide="next"><span>›</span></a>
                </div>
            {% else %}
                {% if count == 1 %}
                    <div id="leftsidebar_indicator_benefit_flash" style="border-radius: 5px;">
                        <div class="carousel-inner" style="border-radius: 5px;">
                            {% for indicatorbenefitimage in entities.indicatorbenefitimages %}
                                {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                                {% if images|length > 0 %}
                                    {% for image in images %}

                                        <img style="border-radius: 5px;width:300px;height:200px;overflow: hidden;" src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                        <div class="carousel-caption">
                                            <h5>{{indicatorbenefitimage.getImageTitle()}}</h5>
                                            <p>{{indicatorbenefitimage.getImageCaption()}}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div style="margin-top:15px;">
            <p> -- {{entities.abstract}}</p>
            
            <p><a href="{{path('homepage_benefit',{id:entities.id})}}" target="_blank">Learn more...</a></p>
        </div>

        <script>
            $(function () {
                $('#leftsidebar_indicator_benefit_flash').carousel({
                    interval: 4000
                });
                $('#leftsidebar_indicator_benefit_flash .carousel-control').unbind("click");
                $('#leftsidebar_indicator_benefit_flash .carousel-control').click(function (e) {
                    e.stopPropagation();
                    $('#leftsidebar_indicator_benefit_flash').carousel($(this).data('slide'));
                });

                $('#leftsidebar_indicator_benefit_flash .carousel-indicators li').unbind("click");
                $('#leftsidebar_indicator_benefit_flash .carousel-indicators li').click(function (e) {
                    e.stopPropagation();
                    $('#leftsidebar_indicator_benefit_flash').carousel($(this).data('slide-to'));
                });
            });
        </script>
    {% endif %}
    {% if story is defined and story  != null %}
        {% set images=story.getImageFile()|unserialize %}
        <h4>
            <a href="{{path('homepage_storydetail',{id:story.id})}}" target="_blank">{{story.storyName|title}}</a>
        </h4>
        <div>
            {% if images|length > 1 %}
                <div id="leftsidebar_story_{{story.id}}" class="carousel slide" style=" border:1px solid background;border-radius: 5px;">
                    <ol class="carousel-indicators">
                        {% set i=0 %}
                        {% for image in images %}
                            <li data-target="#leftsidebar_story_{{story.id}}" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                            </li>
                            {% set i=i+1 %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" style="border-radius: 5px;">
                        {% set i=0 %}
                        {% for image in images %}
                            <div style="border-radius: 5px;" class="item {% if i==0%} active {% endif %}" >
                                <img style="border-radius: 5px;width:300px;height:200px;overflow: hidden;" src="{{ asset('uploads/stories/'~story.id~'/images/')}}{{image|raw}}" width="100%">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            {% set i=i+1 %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control"  data-slide="prev">‹</a>
                    <a class="right carousel-control"  data-slide="next">›</a>
                </div>
            {% else %}
                {% if images|length > 0 %}
                    <div style="border-radius: 5px;">
                        <img style="border-radius: 5px;width:300px;height:200px;overflow: hidden;" src="{{ asset('uploads/stories/'~story.id~'/images/')}}{{images[0]|raw}}" width="100%">
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div style="margin-top:15px;">
            {#<b>Summary:</b>#}
            <p> -- {{story.summary}}</p>
            <p><a href="{{path('homepage_storydetail',{id:story.id})}}" target="_blank">Learn more...</a></p>

        </div>
        {% if story.storyText %}
            <div style="margin-top:10px;" id="pdf_display">
                {{story.storyText|raw}}
                {#                <a class="media" href="{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}">PDF File</a> #}
            </div>
        {% endif %}
        {% if story.storyFileType == 'text/html' %}
            <div style="margin-top:10px;" id="pdf_display">
                {{story.storyFile|raw}}
                {#                <a class="media" href="{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}">PDF File</a> #}
            </div>
        {% endif %}
        <script>
            //      window.onload = function () {

            {# var myPDF = new PDFObject({
                 url: "{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}",
                 pdfOpenParams: {
                     navpanes: 1,
                     view: "FitV",
                     pagemode: "thumbs"
                 }

             }).embed("pdf_display");
#}
    //      };
    $(function () {
        $('#leftsidebar_story_{{story.id}}').carousel({
            interval: 4000
        });

        $('#leftsidebar_indicator_benefit_flash').carousel({
            interval: 4000
        });
        $('#leftsidebar_story_{{story.id}} .carousel-control').unbind("click");
        $('#leftsidebar_story_{{story.id}} .carousel-control').click(function (e) {
            e.stopPropagation();
            $('#leftsidebar_story_{{story.id}}').carousel($(this).data('slide'));
        });

        $('#leftsidebar_story_{{story.id}} .carousel-indicators li').unbind("click");
        $('#leftsidebar_story_{{story.id}} .carousel-indicators li').click(function (e) {
            e.stopPropagation();
            $('#leftsidebar_story_{{story.id}}').carousel($(this).data('slide-to'));
        });

        //    $('div#pdf_display a.media').media({width: "100%", height: "100%"});
        //    var myPDF = new PDFObject({ url: "{#{app.request.getSchemeAndHttpHost()}#}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}"}).embed("pdf_display");


    });
        </script>
    {% else %}

        {% if view=='story' or view=='stories' %}
            <h4>Share your story</h4>
            <div id="story_guideline" style="padding:10px;">
                <p>Our main goal is to engage with citizens living in the Credit Valley Watershed about the ecosystem services that they enjoy every day. For that purpose, we would like you to share your story about how the ecosystems in your area improve your life.</p>
                <p>To share your story, you need to:</p>
                <p>1) Think of an ecosystem that you enjoy;</p>
                <p>2) What service does that ecosystem provide to you (recreation, aesthetic/visually appealing, cultural, does it provide any materials to you like wood, fruits, etc?)</p>
                <p>3) Write a brief story (100-200 words) about how this ecosystem service improves your well-being.</p>
                <p>4) You can include things such as how other people could enjoy this service or what life would be without it.</p>
                <p>You can look at an example <a href="/uploads/stories/Guidelines_to_writting_your_story.pdf" target="_blank">here</a>.</p>
                <p>Or you can see the extended guideline <a href="/uploads/stories/Guidelines_to_writting_your_story.pdf" target="_blank">here</a>.</p>
            </div>
        {% endif %}

    {% endif %}
</div>
