

{% set images=story.getImageFile()|unserialize %}
<h4>
    <a href="{{path('homepage_storydetail',{id:story.id})}}" target="_blank">{{story.storyName|title}}</a>
</h4>
<div>
    {% include 'YorkuJuturnaBundle:Homepage:leftsidebar_story_view_images.html.twig' with {'story':story,'images':images} %}
</div>
<div style="margin-top:15px;">
    {#<b>Summary:</b>#}
    <p> -- {{story.summary}}</p>
    <p><a href="{{path('homepage_storydetail',{id:story.id})}}" target="_blank">Learn more...</a></p>

</div>
{% if story.storyText %}
    <div style="margin-top:10px;" id="pdf_display">
        {% autoescape 'html' %}
            {{story.storyText}}
        {% endautoescape %}
        {#                <a class="media" href="{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}">PDF File</a> #}
    </div>
{% endif %}
{% if story.storyFileType == 'text/html' %}
    <div style="margin-top:10px;" id="pdf_display">
        {% autoescape 'html' %}
            {{story.storyFile}}
        {% endautoescape %}
        {#                <a class="media" href="{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}">PDF File</a> #}
    </div>
{% endif %}
<script>
    $(function () {
        $('#leftsidebar_story_{{story.id}}').carousel({
            interval: 4000
        });

        $('#leftsidebar_indicator_benefit_flash').carousel({
            interval: 4000
        });
        $('#leftsidebar_story_{{story.id}} .carousel-control').unbind("click");
        $('#leftsidebar_story_{{story.id}} .carousel-control').click(function (e) {
            e.stopPropagation();
            $('#leftsidebar_story_{{story.id}}').carousel($(this).data('slide'));
        });

        $('#leftsidebar_story_{{story.id}} .carousel-indicators li').unbind("click");
        $('#leftsidebar_story_{{story.id}} .carousel-indicators li').click(function (e) {
            e.stopPropagation();
            $('#leftsidebar_story_{{story.id}}').carousel($(this).data('slide-to'));
        });
    });
</script>
