
{% set count = 0%}
{% for indicatorbenefitimage in entities.indicatorbenefitimages %}
    {% set images=indicatorbenefitimage.getFileName()|unserialize %}
    {% set count = count + images|length %}
{% endfor %}               
<h4 style="text-align:center;">{{entities.indicator.name|upper}}</h4>
<h4 style="text-align:center;">
    <a href="{{path('homepage_benefit',{id:entities.id})}}">{{entities.title|title}}</a>
</h4>

<div>
    
   {% include 'YorkuJuturnaBundle:Homepage:leftsidebar_entity_view_images.html.twig' with {'entities':entities,'count':count} %}


</div>
<div style="margin-top:15px;">
    <p> -- {{entities.abstract}}</p>

    <p><a href="{{path('homepage_benefit',{id:entities.id})}}" target="_blank">Learn more...</a></p>
</div>

