{% extends '::baseLayout.html.twig' %}
{% block page_stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
    {% endblock %}

    <div class="container-fluid" style="margin:0;padding:0;">
        <div class="row-fluid story_flash">


            {% set images=story.getImageFile()|unserialize %}
            {% include 'YorkuJuturnaBundle:Homepage:storydetails_images.html.twig' with {'images',images, 'story':story} %}


        </div>
    </div>
    <div class="container-fluid" style="margin: 15px auto;max-width: 1200px;">
        <div class="row-fluid">
            <div style="margin: 15px auto;text-align:center;">
                {#                <h2> {{story.storyName|title}}</h2>#}
            </div>
        </div>
        <div class="row-fluid" style="height:700px;overflow:auto;border: 1px solid gainsboro;">
            {% if story.storyFile and story.storyFileType == 'application/pdf' %}
                <div id="pdf_display">
                </div>
            {% endif %}
            {% if story.storyFile and story.storyFileType == 'text/html' %}
                <div id="html_display" style="padding:10px;width:100%;height:100%;">
                    <iframe  style="border: none; width:100%; height:100%;" src="{{app.request.getSchemeAndHttpHost()}}/uploads/stories/{{story.id}}/pdf/{{story.storyFile}}">

                    </iframe>
                </div>
            {% endif %}
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block page_javascripts %}
        {{ parent() }}

    {% endblock %}

    {% include 'YorkuJuturnaBundle:Homepage:storydetails_javascript.html.twig' with {'story':story} %}



{% endblock %}
