{% extends '::homepage.layout.html.twig' %}
{% block body %}
    {% block page_header %}
        {{ parent() }}
    {% endblock %}
    {% block page_container %}
        <div class="container-fluid maincontent">
            <div class="row-fluid">
                <div class="col-lg-9 col-sm-9">
                    <div style="padding: 10px 15px;color: #0078A8; text-justify:  auto;">
                        <h4>Human Well Being Domain  -   {% if wellbeing is defined %}{{wellbeing.name}}{% endif %}</h4>
                    </div>
                    {% if wellbeing is defined %}
                        
                        {% if wellbeing.indicatorbenefits | length %}
                            {% for indicatorbenefit in wellbeing.indicatorbenefits %}

                                <div class="col-lg-7 col-sm-7" style="height:620px; border: 1px solid gainsboro;margin:0px 10px 10px -20px;padding:10px; border-radius: 10px;">


                                    <div>

                                        {{indicatorbenefit.benefitName}}
                                    </div>
                                    <div>
                                        {{indicatorbenefit.abstract}}
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-5" style="height:620px; border: 1px solid gainsboro;margin-left:0px;margin-bottom: 10px;padding:10px;border-radius: 10px;">
                                    <div class="row-fluid  homepage_description" style="height:260px;padding: 0 5px; ">


                                        <div id="indicator_benefit_{{indicatorbenefit.id}}" class="carousel slide">
                                            <ol class="carousel-indicators">
                                                {% set i=0 %}
                                                {% for image in images %}
                                                    <li data-target="#indicator_benefit_{{indicatorbenefitimage.id}}" data-slide-to="{{i}}" {% if i==0 %} class="active" {% endif %}>
                                                    </li>
                                                    {% set i=i+1 %}
                                                {% endfor %}
                                            </ol>
                                            <div class="carousel-inner">
                                                {% set i=0 %}
                                                {% for indicatorbenefitimage in indicatorbenefit.indicatorbenefitimages %}
                                                    {% set images=indicatorbenefitimage.getFileName()|unserialize %}
                                                    {% if images|length > 0 %}
                                                        {% for image in images %}
                                                            <div class="item {% if i==0%} active {% endif %}">
                                                                <img src="{{ asset('uploads/images/indicatorbenefitimages/'~indicatorbenefitimage.id~"/")}}{{image|raw}}" width="100%">
                                                                <div class="carousel-caption">
                                                                    <h5>{{indicatorbenefitimage.getTitle()}}</h5>
                                                                    <p>{{indicatorbenefitimage.getCaption()}}</p>
                                                                </div>
                                                            </div>
                                                            {% set i=i+1 %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <a class="left carousel-control" href="#indicator_benefit_{{indicatorbenefit.id}}" data-slide="prev">‹</a>
                                            <a class="right carousel-control" href="#indicator_benefit_{{indicatorbenefit.id}}" data-slide="next">›</a>
                                        </div>

                                        {#{% for indicatorbenefitimage in indicatorbenefit.indicatorbenefitimages %}
    
                                            {% if image is defined %}
                                                <div style="margin:5px auto; overflow: hidden; border-radius: 8px;border: 2px solid lightblue; ">
                                                    <a href="{{path('homepage_well_being',{locale:_locale})}}" ><img src="/uploads/images/homepageimages/{{image.getImage()}}" width="100%"></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}#}
                                    </div>

                                </div>          

                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-3 col-sm-3">
                    {% block indicator_column_block %}
                        {{ sonata_block_render({ 'type': 'yorku_juturna.block.indicator_column' }, { 'mode': 'public'}) }}
                    {% endblock %}
                </div>


            </div>


        </div>

    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% endblock %}