{% extends '::base_layout.html.twig' %}
{% block sonata_page_head %}
    {{ parent() }}
    {% block sonata_page_stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="/bundles/sonataadmin/select2/select2.css" type="text/css" media="all" />
        <!-- base application asset -->
        <link rel="stylesheet" href="/bundles/sonataadmin/css/layout.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/sonataadmin/css/colors.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2ucore/css/loginform.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.map2u.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/Control.MiniMap.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/L.Control.MousePosition.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.locationfilter.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/leaflet.draw.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/bundles/map2uleaflet/css/L.Control.Sidebar.css" type="text/css" media="all" />

    {% endblock %}
{% endblock %}
{% block sonata_page_container %}
    <div class="container">
        <div class="content">
            <div class="row page-header">

                {{ sonata_page_render_container('header', 'global') }}

                {{ render(controller("Map2uCoreBundle:Welcome:header",{'locale_menu_img':locale_switcher()})) }}
                {{ render(controller("Map2uCoreBundle:Welcome:header_logos")) }}


            </div>
            {% if page is defined %}
                <div class="row">
                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_top', 'global') }}
                    {% endif %}
                    {{ sonata_page_render_container('content_top', page) }}
                </div>
            {% endif %}

            <div class="row">
                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                            {% if content|length > 0 %}
                                {{ content|raw }}
                            {% elseif page is defined %}
                                {{ sonata_page_render_container('content', page) }}
                            {% endif %}
                            {% endif %}
                                {% endblock %}
                                </div>

                                {% if page is defined %}
                                    <div class="row">
                                        {{ sonata_page_render_container('content_bottom', page) }}

                                        {% if page.name != 'global'%}
                                            {{ sonata_page_render_container('content_bottom', 'global') }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>

                            <footer class="row">
                                {{ sonata_page_render_container('footer', 'global') }}
                            </footer>
                        </div>
                        {% endblock %}
