<style>

</style>
<div class="menucategory">
    {% if category != null %}
        <h4>{{category.getName() ? category.getName() : 'No Category Name'}}</h4>
    {% endif %}    
    {% if categorycontents != null %}
        {% include 'YorkuJuturnaBundle:MenuCategory:categorycontents.html.twig' with {'categorycontents':categorycontents} %}
    {% elseif category.getDescription() != null%}
        <div>
            {% autoescape 'html' %}
                {{category.getDescription()|raw}}
            {% endautoescape %}
        </div>
    {% endif %}
</div>
<script>
    $('div.sidebar_content div.section.overlay-layers ul.overlay_ul > li.overlay_li').map(function () {
        //      alert($(this).data("index"));
        //      alert(window.map.dataLayers[$(this).data("index")].layerId);
        //      alert(window.map.dataLayers[$(this).data("index")].layerName);

        $(this).find("input[type=checkbox]").prop('checked', false)
                .trigger('change');
    });

    {% for categorycontent in categorycontents %}
        //    alert("{{categorycontent.displayLayers|length}}");
        {% for layer in categorycontent.displayLayers %}

            //alert("{{layer.id}}" + "{{layer.layerName}}");
            $('div.sidebar_content div.section.overlay-layers ul.overlay_ul > li.overlay_li').map(function () {
                // alert($(this).data("index"));
                if (window.map && parseInt(window.map.dataLayers[$(this).data("index")].layerId) === parseInt("{{layer.id}}") && "{{layer.layerName}}" === window.map.dataLayers[$(this).data("index")].layerName)
                        //  alert(window.map.dataLayers[$(this).data("index")].layerId);
                                //  alert(window.map.dataLayers[$(this).data("index")].layerName);
                                {
                                    $(this).find("input[type=checkbox]").prop('checked', true)
                                            .trigger('change');
                                }
                    });
        {% endfor %}
    {% endfor %}

</script>